################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpotifyPlaylistComparer/.vs/SpotifyPlaylistComparer/v15
/SpotifyPlaylistComparer/SpotifyPlaylistComparer/bin/Debug/netcoreapp2.0
/SpotifyPlaylistComparer/SpotifyPlaylistComparer/obj
